/* font-family: "Roboto", serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", serif;
}
:root {
  --blue: #6245fe;
  --green: #9a9fff;
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: rgba(119, 119, 119, 1);
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 0;
}
::selection {
  color: white;
  background: var(--blue);
}
/* Header Css Start */

.design-menu ul li a::before{
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    bottom: 0;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease;
}

.design-menu ul li a:hover::before {
    left: 0;
}

.banner-content h1{
  font-size: 80px;
}

.design-button a::before{
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 20px;
}
.design-button a:hover::before {
    left: 0;
}

.design-button a{
  background: var(--blue);
}
/* Header Css End */
/* banner section css Start */

.banner-section{
    height: 100vh;
    background-image: url(../image/banner.jpg);
    background-size: cover;
}


.banner-content h1 span{
  color: transparent;
  -webkit-text-stroke: 2px white;
}
/* banner section css end */


/* Section 1 Css Start */

.section-1 {
  background: var(--green);
}

.img-box {
    border-radius: 20px;
}

.box-content {
  bottom: -77%;
  left: 9.5%;
}
.box-content-2 {
  bottom: -77%;
  left: 35%;
}
.box-content-3 {
  bottom: -77%;
  left: 57%;
}
.box-content-4 {
  bottom: -77%;
  left: 80%;
}

.image {
  transition: all 0.5s ease;
}

.image img {
  border-radius: 25px;
}

.image::before {
  content: "";
  border-radius: 25px;
  position: absolute;
  background: linear-gradient(0deg, black, transparent);
  height: 100%;
  width: 100%;
}
.image:hover {
  transform: scale(1.5);
}

/* Section 1 Css End */

.design-get{
  background-color: var(--blue);
}

/* Section 2 Css Start */


.section-2 {
  margin-top: 90px;
}
.mobile-content {
  margin-top: 90px;
}
.mobile-content h3 {
  font-size: 45px;
}
/* Section 2 Css end */

.section-3 {
    background-color: #f8f9fa; /* Light background */
    position: relative;
}

.project img{
  width: 15%;
}
.choose{
  padding-left: 25%;
}

.choose-main {
    border-radius: 15px;
}

.choose-img img {
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.choose-main:hover .choose-img img {
    transform: scale(1.5);
}

.project {
  background-color: var(--blue);
  bottom: 40%;
  left: 43%;
}

.mobile-content.choose li img {
    width: 24px;
    height: 24px;
}
/* Section 4 Css Start */

.design-button-2 a::before{
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    bottom: 0;
    height: 40px;
    background-color: black;
    transition: all 0.5s ease;
    border-radius: 20px;
}
.design-button-2 a:hover::before {
    left: 0;
}
.design-button-2 a{
  background: var(--blue);
}
/* Section 4 Css end */



/* Section 5 Css Start */

.what{
  width: 37%;
}

.client-img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.client-box-slider {
  background-color: rgba(249, 249, 249, 1);
  border-radius: 20px;
}

.section-6 {
  background-color: rgba(249, 249, 249, 1);
}

.how a {
  transition: all 0.5s ease;
}

.how input {
  background-color: #d9d9d9;
}
a.how-2:hover {
  background: black;
}
a.faq:hover {
  color: black;
}

.footer {
  background-image: url(../image/footer-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}

.footer a {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}
a.footer-design-a{
  width: 11%;
}

.footer-menu a:hover {
  margin-left: 10px;
  color: var(--blue);
}

.footer-menu a {
  color: #fff;
  transition: all 0.5s ease;
}

/* About-Us CSS Start */
.who h6 {
  width: 22%;
}
.banner-section-about {
  padding: 200px 0px;
  background-size: cover;
  background-image: url(../image/about-banner.jpg);
}

.about-section {
  background: url(../image/app.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
}
/* SERVICES CSS START */

.box-content-5 {
  bottom: -45%;
  left: 9.5%;
}
.box-content-6 {
  bottom: -45%;
  left: 35%;
}
.box-content-7 {
  bottom: -45%;
  left: 57%;
}
.box-content-8 {
  bottom: -45%;
  left: 80%;
}
.box-content-9 {
  bottom: -100%;
  left: 17%;
}
.box-content-10 {
  bottom: -100%;
  left: 41%;
}
.box-content-11 {
  bottom: -100%;
  left: 65%;
}

/* PORFOLIO CSS START */

.banner-section-portfolio {
  padding: 200px 0px;
  background-size: cover;
  background-image: url(../image/portfolio.jpg);
}

/* CONTACT-US CSS START */

.banner-section-af {
  padding: 200px 0px;
  background-size: cover;
  background-image: url(../image/af.jpg);
}

.form input {
  border-top: none;
  border-left: none;
  outline: none;
  border-right: none;
}

.box-contact {
  padding: 90px 0;
}

.box-contact h5 {
  color: var(--blue);
}
.box-contact a {
  color: rgba(119, 119, 119, 1);
}
.box-contact a:hover {
  color: black;
}
.box-contact h6 {
  color: rgba(119, 119, 119, 1);
}

.map iframe {
  height: 100vh;
}

/* REGISTER CSS START */

.register {
  background: rgba(249, 249, 249, 1);
}

a.form-register {
  background: #6c757d;
}
.register-form {
  border-radius: 20px;
}

/* DASHARBOARD CSS START */

.dashar input {
  outline: none;
}

.admin img {
  width: 50%;
}

.sidebar {
  height: calc(100vh - 70px);
  width: 17%;
}

.main-content {
  width: 83%;
}

.services-drop {
  bottom: 50%;
}

.user {
  border-radius: 20px;
}
.btn {
  width: 10%;
}

.form-main {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
